<div>
  <nav class="navbar navbar-expand navbar-dark bg-custom">
    <a href="#" class="navbar-brand">Webdev CRUD App</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="movies" class="nav-link">Movies</a>
      </li>
      <li class="nav-item">
        <a routerLink="addMovies" class="nav-link">Add Movies</a>
      </li>
      <li class="nav-item">
        <a routerLink="books" class="nav-link">Books</a>
      </li>
      <li class="nav-item">
        <a routerLink="addBooks" class="nav-link">Add Books</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>